@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 52px;
}

.jumbotron{
    opacity: 0;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 299px;
    padding-right: 15px;
    margin-top: 280px;
    font-family: 'Black Ops One', cursive;

}
h1{
    font-size: 85px;
    color: #6793a0;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

#error_explanation {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.body1 {
    background-image: url("https://charlesdoilain.files.wordpress.com/2015/08/fitness3.jpg");
}